<div class="my-5 px-14">
    <h1 class="text-2xl">
        Selamat datang admin
    </h1>
    <hr class="my-7">
    <div class="flex items-center my-4 justify-between">
        <!-- Modal toggle -->
        <a href="admin/tambahdata" data-modal-target="crud-modal" data-modal-toggle="crud-modal"
            class="flex items-center rounded-md p-1 bg-blue-300 px-2 pr-3">
            <span class="material-symbols-outlined text-md">
                add
            </span>
            Tambah data
        </a>
        <div class="flex items-center">
            <input type="search" class="w-80 border-2 p-1  rounded-lg mx-2 " placeholder="Cari Judul buku, Penulis ...">
            <button class="material-symbols-outlined text-md bg-gray-400 p-1 rounded-md text-white">
                search
            </button>
        </div>
    </div>
    <div class="flex justify-between mt-8">
        <h1 class="font-bold text-2xl">
            <p>Data Buku</p>
        </h1>
        <div>
            <p class="flex items-center">
                <span class="material-symbols-outlined p-1 bg-red-500 text-white rounded-full mx-1 my-1"
                    style="font-size:17px;">
                    delete
                </span>
                Hapus Data
            </p>
            <p class="flex items-center">
                <span class="material-symbols-outlined p-1 bg-blue-500 text-white rounded-full mx-1 my-1"
                    style="font-size:17px;">
                    edit
                </span>
                Edit Data
            </p>
        </div>
    </div>
    <div>
        <table class="w-full rounded-xl overflow-hidden shadow-sm">
            <tr style="font-weight: 600;">
                <td class="border p-2">No</td>
                <td class="border px-2">Judul</td>
                <td class="border px-2">Penulis</td>
                <td class="border px-2">Penerbit</td>
                <td class="border px-2">Kategori</td>
                <td colspan="2"  class="border px-2">
                    Action
                </td>
            </tr>
            <% let i=1; databuku.forEach(buku=> { %>
            <tr class="shadow-sm border rounded-lg">
                <td class="text-center p-2 border" ><%= i++ %></td>
                <td class="px-2 text-blue-500">
                    <span id="judul" style="cursor: pointer;"><%= buku.judul %></span>
                    <img src="<%= buku.sampul %>" alt="" srcset="" width="150" id="sampul" class="absolute border-2" style="display: none;">
                </td>
                <td class="px-2"><%= buku.penulis %></td>
                <td class="px-2"><%= buku.penerbit %></td>
                <td class="px-2"><%= buku.kategori%></td>
                <td>
                    <a href="" class="rounded-full px-2 text-gray-400 underline flex items-center">
                        <img src="../image/icon/edit1.png" alt="" width="18">
                        Edit
                    </a>
                </td>
                <td class="">
                    <button class="material-symbols-outlined p-1 text-red-500"
                                style="font-size:17px;" value="<%= buku.id %>" id="hapusdata">
                                close
                    </button>
                </td>
            </tr>
            <% }) %>
        </table>
        <style>
            tr:nth-child(even){
                background: rgba(83, 83, 83, 0.133);
            }
        </style>
    </div>
</div>
<script>
    const judul = document.querySelectorAll("#judul");
    const sampul = document.querySelectorAll("#sampul");
    judul.forEach((buku,index)=>{
        buku.addEventListener("mouseover",()=>{
            sampul[index].style.display = "block";
        })
        buku.addEventListener("mouseleave",()=>{
            sampul[index].style.display = "none";
        })
    })
</script>
<!-- <script src="../javascript/DeleteUpdateScript.js"></script> -->