<div class="my-5 px-14">
    <h1 class="text-2xl">
        Selamat datang admin
    </h1>
    <hr class="my-7">
    <div class="flex items-center my-4 justify-between">
        <!-- Modal toggle -->
        <a href="admin/tambahdata" data-modal-target="crud-modal" data-modal-toggle="crud-modal"
            class="flex items-center rounded-md p-1 bg-blue-300 px-2 pr-3">
            <span class="material-symbols-outlined text-md">
                add
            </span>
            Tambah data
        </a>
        <div class="flex items-center">
            <input type="search" class="w-80 border-2 p-1  rounded-lg mx-2 " placeholder="Cari Judul buku, Penulis ...">
            <button class="material-symbols-outlined text-md bg-gray-400 p-1 rounded-md text-white">
                search
            </button>
        </div>
    </div>
    <div class="flex justify-between mt-8">
        <h1 class="font-bold text-2xl">
            <p>Data Buku</p>
        </h1>
        <div>
            <p class="flex items-center">
                <span class="material-symbols-outlined p-1 bg-red-500 text-white rounded-full mx-1 my-1"
                    style="font-size:17px;">
                    delete
                </span>
                Hapus Data
            </p>
            <p class="flex items-center">
                <span class="material-symbols-outlined p-1 bg-blue-500 text-white rounded-full mx-1 my-1"
                    style="font-size:17px;">
                    edit
                </span>
                Edit Data
            </p>
        </div>
    </div>
    <div>
        <% databuku.forEach(buku=> { %>
            <div class="shadow-lg flex justify-between p-2 my-2" style="height: 180px;">
                <div class="flex items-center ">
                    <img src="<%= buku.sampul %>" alt="" class="shadow-sm" width="110px">
                </div>
                <table class="overflow-auto w-3/12">
                    <tr class="border-b-2">
                        <td class="w-28">Judul</td>
                        <td class="pr-1"> : </td>
                        <td>
                            <%= buku.judul %>
                        </td>
                    </tr>
                    <tr class="border-b-2">
                        <td>Penulis</td>
                        <td class="pr-1">:</td>
                        <td>
                            <%= buku.penulis %>
                        </td>
                        </td>
                    </tr>
                    <tr class="border-b-2">
                        <td>Harga</td>
                        <td class="pr-1">:</td>
                        <td>
                            <%= buku.harga %>
                        </td>
                    </tr>
                    <tr class="border-b-2">
                        <td>Tanggal terbit</td>
                        <td>:</td>
                        <td class="pr-1">
                            <%= buku.tanggalTerbit %>
                        </td>
                    </tr>
                    <tr>
                        <td>Ukuran</td>
                        <td>:</td>
                        <td class="mx-1">
                            <%= buku.ukuran %>
                        </td>
                    </tr>
                </table>
                <div class="overflow-auto h-full w-7/12">
                    <%= buku.deskripsi %>
                </div>
                <div class="flex items-center justify-center" style="width:5%;">
                    <div>
                        <button class="material-symbols-outlined p-1 bg-red-500 text-white rounded-full"
                            style="font-size:17px;" value="<%= buku.id %>" id="hapusdata">
                            delete
                        </button>
                        <br>
                        <a href="" class="material-symbols-outlined p-1 bg-blue-500 text-white rounded-full"
                            style="font-size:17px;">
                            edit
                        </a>
                    </div>

                </div>
            </div>
            <% }) %>
    </div>
</div>
<script src="../javascript/DeleteUpdateScript.js"></script>