<div class="my-5 px-14">
    <h1 class="text-2xl">
        Selamat datang admin
    </h1>
    <hr class="my-7">
    <div class="flex items-center my-4 justify-between">
        <!-- Modal toggle -->
        <button data-modal-target="crud-modal" data-modal-toggle="crud-modal"
            class="flex items-center rounded-md p-1 bg-blue-300 px-2 pr-3">
            <span class="material-symbols-outlined text-md">
                add
            </span>
            Tambah data
        </button>
        <div class="flex items-center">
            <input type="search" class="w-80 border-2 p-1  rounded-lg mx-2 " placeholder="Cari Judul buku, Penulis ...">
            <button class="material-symbols-outlined text-md bg-gray-400 p-1 rounded-md text-white">
                search
            </button>
        </div>
    </div>
    <div class="flex justify-between mt-8">
        <h1 class="font-bold text-2xl">
            <p>Data Buku</p>
        </h1>
        <div>
            <p class="flex items-center">
                <span class="material-symbols-outlined p-1 bg-red-500 text-white rounded-full mx-1 my-1"
                    style="font-size:17px;">
                    delete
                </span>
                Hapus Data
            </p>
            <p class="flex items-center">
                <span class="material-symbols-outlined p-1 bg-blue-500 text-white rounded-full mx-1 my-1"
                    style="font-size:17px;">
                    edit
                </span>
                Edit Data
            </p>
        </div>
    </div>
    <div>
        <% databuku.forEach(buku=> { %>
            <div class="shadow-lg flex justify-between p-2 my-2" style="height: 180px;">
                <div class="flex items-center ">
                    <img src="<%= buku.sampul %>" alt="" class="shadow-sm" width="110px">
                </div>
                <table class="overflow-auto w-3/12">
                    <tr class="border-b-2">
                        <td class="w-28">Judul</td>
                        <td class="pr-1"> : </td>
                        <td>
                            <%= buku.judul %>
                        </td>
                    </tr>
                    <tr class="border-b-2">
                        <td>Penulis</td>
                        <td class="pr-1">:</td>
                        <td>
                            <%= buku.penulis %>
                        </td>
                        </td>
                    </tr>
                    <tr class="border-b-2">
                        <td>Harga</td>
                        <td class="pr-1">:</td>
                        <td>
                            <%= buku.harga %>
                        </td>
                    </tr>
                    <tr class="border-b-2">
                        <td>Tanggal terbit</td>
                        <td>:</td>
                        <td class="pr-1">
                            <%= buku.tanggalTerbit %>
                        </td>
                    </tr>
                    <tr>
                        <td>Ukuran</td>
                        <td>:</td>
                        <td class="mx-1">
                            <%= buku.ukuran %>
                        </td>
                    </tr>
                </table>
                <div class="overflow-auto h-full w-7/12">
                    <%= buku.deskripsi %>
                </div>
                <div class="flex items-center justify-center" style="width:5%;">
                    <div>
                        <a href="" class="material-symbols-outlined p-1 bg-red-500 text-white rounded-full"
                            style="font-size:17px;">
                            delete
                        </a>
                        <br>
                        <a href="" class="material-symbols-outlined p-1 bg-blue-500 text-white rounded-full"
                            style="font-size:17px;">
                            edit
                        </a>
                    </div>

                </div>
            </div>
            <% }) %>
    </div>
</div>
<!-- Main modal -->
<div id="crud-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full ">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Tambah Data Buku
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Judul
                            Buku</label>
                        <input type="text" name="name" id="name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Judul buku" required="">
                    </div>
                    <div class="col-span-2">
                        <label for="penulis"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Penulis</label>
                        <input type="text" name="penulis" id="penulis"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Penulis buku" required="">
                    </div>
                    <div class="col-span-2">
                        <label for="harga" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Harga
                            (Rp)</label>
                        <input type="text" name="harga" id="harga"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Harga buku (Rp)" required="">
                    </div>
                    <div class="col-span-2">
                        <label for="deskripsi"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Deskripsi</label>
                        <textarea type="text" name="deskripsi" id="deskripsi"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Desripsi buku" required="">
                            </textarea>
                    </div>
                    <div class="col-span-2">
                        <label for="terbit"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ukuran</label>
                        <div class="flex items-center">
                            <input type="text" name="pUkuran" id="pUkuran"
                                class="bg-gray-50 border  border-gray-300 text-gray-900 text-sm rounded-lg mr-1 focus:ring-primary-600 focus:border-primary-600 block w-9 p-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required=""> cm
                            <span class="mx-6">
                                x
                            </span>
                            <input type="text" name="lUkuran" id="lUkuran"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg mr-1 focus:ring-primary-600 focus:border-primary-600 block w-9 p-2 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required=""> cm
                        </div>
                    </div>
                    <div class="col-span-2">
                        <label for="terbit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tanggal
                            Terbit</label>
                        <input type="datetime" name="terbit" id="terbit"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Tanggal Terbit" required="">
                    </div>

                    <button type="submit"
                        class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Tambah Data Buku
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>