<div class="px-14 flex my-10">
    <div style="width: 230px; " class="w-1/4 p-2">
        <h1 class="font-bold text-2xl">
            <%= databuku.judul %>
        </h1>
        <h2 class="text-gray-600 text-lg">
            <%= databuku.penulis %>
        </h2>
        <hr class="mt-2">
        <img src="<%= databuku.sampul %>" alt="" class="border border-gray-200 shadow-md mt-4">
    </div>
    <div class="w-3/5 mx-5 h-full overflow-auto" style="height: 410px;">
        <p class="mt-1 font-bold">Deskripsi buku</p>
        <%= databuku.deskripsi %>
    </div>
    <div class="w-1/4">
        <table class="pl-4">
            <tr class="font-bold text-blue-700">
                <td class="w-40">Penerbit</td>
                <td class="w-40">Jumlah Halaman</td>
            </tr>
            <tr>
                <td class="pb-2">
                    <%= databuku.penerbit %>
                </td>
                <td class="pb-2">
                    <%= databuku.jumlahHalaman %>
                </td>
            </tr>
            <tr class="font-bold text-blue-700">
                <td>harga</td>
                <td>ukuran</td>
            </tr>
            <tr>
                <td class="pb-2">Rp. <%= databuku.harga %>
                </td>
                <td class="pb-2">
                    <%= databuku.ukuran %>
                </td>
            </tr>
            <tr class="font-bold text-blue-700">
                <td>Kategori</td>
                <td>Tanggal terbit</td>
            </tr>
            <tr>
                <td class="pb-2">
                    <%= databuku.kategori %>
                </td>
                <td class="pb-2">
                    <%= databuku.tanggalTerbit %>
                </td>
            </tr>
        </table>
        <div class="my-1 font-bold text-gray-500 inline-block flex">
            <div class="mr-3">
                <%= databuku.views %>
            </div>
            <div>
                Views
            </div>
        </div>
    </div>
</div>
<div class="px-14 my-10">
    <h1 class="text-lg font-bold my-4">
        Ulasan Pembaca
    </h1>
    <hr class="my-5">
    <form action="#" class="flex justify-between items-center my-5">
        <input type="text" placeholder="Masukkan Nama"
            class="bg-gray-50 border border-gray-200 w-2/12 p-1 rounded-md mr-5" required id="nama">
        <input type="text" placeholder="Tambahkan Ulasan......"
            class="bg-gray-50 border border-gray-200 w-10/12 p-1 rounded-md" required id="isi">
        <button class="material-symbols-outlined text-gray-800 text-center" style="width: 100px;" id="commentBtn" value="<%= databuku.id %>">
            send
        </button>
    </form>
    <div>
        <% databuku.komentar.forEach(komentar=> { %>
            <div class="flex my-2">
                <div class="mr-4">
                    <img src="../image/icon/user.png" alt="" srcset="" style="width: 50px;">
                </div>
                <div class="bg-gray-200 rounded-lg w-full p-2 inline-block">
                    <div class="font-bold text-sm"><%=  komentar.nama %></div>
                    <div><%= komentar.isi %></div>
                </div>
            </div>            
        <% }) %>
    </div>
</div>
<script src="../javascript/script.js"></script>